:root {
  --blue: #7ce9ed;
  --white: #FFFFFF;
  --black: #000000b2;
}
/*Provides constants to the html file*/


header {
  text-align: center;
  margin: auto 2em;
  
}

body {
  background: var(--bg);
  color: var(--fontColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 3em;
  letter-spacing: .6em;
  padding-top: 1em;
  padding-bottom: 0em; /*1em*/
  /*display: flex;*/
  position: relative;
  display: inline-block;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1em;
  padding-bottom: 1em;
}

  main { 
        display: grid;
        grid-template-columns: 25% 75%;
        margin-top: 3em;
    }

    header {
        text-align: center;
        margin: auto 2em;
        position: relative;
        display: inline-block;
        margin-right: 1em; 
        vertical-align: middle;
        overflow: hidden;
    }
    
    section {
        margin: auto 1em 4em 2em;
    }
    
    i {
        margin-right: .5em;
    }
    
    p {
        margin: .2em auto
    }
    
    hr {
        border: solid;
        border-top: #7ce9ed;
        height: 1px;
    }
       
    #mainLeft {
        border-right: 2px solid
    }

h1, h2, h3 {
  font-weight: 100;
  margin-bottom: 0;
}

li {
  list-style: circle;
}

.list {
  list-style: circle;
}
/*Provides font formating*/

.light-theme {
  --bg: var(--blue);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  --border-right: var(--black);
  --background-color: var(--black);
  --border-top: var(--black);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--blue);
  --btnFontColor: var(--black);
  --border-right: var(--white);
  --background-color: var(--black);
  --border-top:var(--white);
}
/*provides colour theme to webpage linked to html*/

.btn {
    position: absolute;
  top: 20px;
  left: 1100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
/*adds formatting to html button*/

.avatar {
  position: relative;
  display: inline-block;
  margin-right: 1em; 
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
/* adds formatting to image - rounds avatar */

